<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode nodeProcessCommandLine="D:\Program Files (x86)\nodejs\0.12.0\node.exe" />
    <rewrite>
      <rules>
        <rule name="app">
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>